<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update ReadingRoom</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE READINGROOM</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/readingRoom/update}" th:object="${readingRoom}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">NumberOfSeats</label>
            <input id="num1" th:field="*{numberOfSeats}"  required>
            <label for="num2">Number</label>
            <input id="num2" th:field="*{number}"  required>
            <label for="num3">CatalogList</label>
            <select id="num3" th:field="*{catalogList}" onclick="checkedInput()">
                <option th:each="catalogListId: ${catalogListId}"
                        th:value="${catalogListId.id}" th:text="${catalogListId.number}">
                </option>
            </select>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/readingRoom/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>