<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person List</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/animation.css}" rel="stylesheet">
  <link href="../../../../../../../../Desktop/Архив/css/style.css" rel="stylesheet">
  <link href="../css/animation.css" rel="stylesheet">
  <link href="../css/modalWindow.css" rel="stylesheet">
  <link href="../css/modalAnimated.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div id="blockMessage">
  Successfully copied
</div>

<!-- Modal Window -->

<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>I'm a Modal</h2>
      <p>Hear me roar.</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
        <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
      </svg>
    </div>
  </div>
</div>

<!-- -->

<div class="contentMain">
  <div class="container">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr class="title">
          <th>Name</th>
          <th>Author</th>
          <th>Number pages</th>
          <th>Genre</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Purchase</th>
          <th>Language</th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0" onmouseleave="checkLeave()">
        <tbody>

          <!-- FakeData -->

        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="controlElementFake"></div>


<div class="controlElement">

  <!-- FakeData -->

  <table>
    <tr>
      <td>Id</td>
      <td id = "infoId" onclick="copyID()"></td>
    </tr>
    <tr>
      <td>Create At</td>
      <td id = "infoCreateAt"></td>
    </tr>
    <tr>
      <td>Update At&emsp;</td>
      <td id="infoUpdateAt"></td>
    </tr>
  </table>
</div>

  <br>

  <div style="text-align: center">
    <a th:href = "@{/ui/persons/showNewPersonForm}" class="containerButton">Add</a>
  </div>
</div>
</body>
  <script src="../../../../../../../../Desktop/Архив/js/main.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/FakeData.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/TableJQuery.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/animated.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/modalWindow.js"></script>
</html>