<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Order List</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/animation.css}" rel="stylesheet">
  <link href="../css/animation.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div id="blockMessage">
  Successfully copied
</div>

<!-- -->

<div class="contentMain">
  <div class="container">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr class="title">
          <th>Book</th>
          <th>WhenOrdered</th>
          <th>Reader</th>
          <th>Options</th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0" onmouseleave="checkLeave()">
        <tbody>

        <tr th:each="bookOrder: ${bookOrderList}" onmouseenter='checkHover(obj)' onclick='checkClick(obj, this)'>
          <td th:text="${bookOrder.book.name}"></td>
          <td th:text="${bookOrder.whenOrdered}"></td>
          <td th:text="${bookOrder.reader.person.name}"></td>
          <td class="options">
            <a  th:href="@{/ui/bookOrder/delete/{id}(id=${bookOrder.id})}">
              <button class="first">Delete</button>
            </a>
            <a th:href="@{/ui/bookOrder/showUpdateForm/{id}(id=${bookOrder.id})}">
              <button class="last">Edit</button>
            </a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="controlElementFake"></div>


<div class="controlElement">

  <!-- FakeData -->

  <table>
    <tr>
      <td>Id</td>
      <td id = "infoId" onclick="copyID()"></td>
    </tr>
    <tr>
      <td>Create At</td>
      <td id = "infoCreateAt"></td>
    </tr>
    <tr>
      <td>Update At&emsp;</td>
      <td id="infoUpdateAt"></td>
    </tr>
  </table>
</div>

  <br>

  <div style="text-align: center">
    <a th:href = "@{/ui/bookOrder/showNewForm}" class="containerButton">Add</a>
  </div>
</div>

<script type="text/javascript" th:src="@{/js/animated.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/TableJQuery.js}"></script>

</body>
</html>