<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book Order</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD Book Order</h1>
</div>
<div class="updateForm">
    <form action="#" th:action="@{/ui/bookOrder/add}" th:object="${bookOrder}"
          method="POST">
        <table>
            <tr>
                <td><label for="num2">Book</label></td>
                <td>
                    <select id="num2" th:field="*{book}">
                        <option th:each="bookListId: ${bookListId}"
                                th:value="${bookListId.id}" th:text="${bookListId.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num4">WhenOrdered</label></td>
                <td><input id="num4" th:field="*{whenOrdered}" min="0" required></td>
            </tr>
            <tr>
                <td> <label for="num8">Reader</label></td>
                <td>
                    <select id="num8" th:field="*{reader}">
                        <option th:each="readerListId: ${readerListId}"
                                th:value="${readerListId.id}" th:text="${readerListId.person.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/bookOrder/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>