<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Book Order</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE BOOK ORDER</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/bookOrder/update}" th:object="${bookOrder}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num2">Book</label>
            <select id="num2" th:field="*{book}" onclick="checkedInput()">
                <option th:each="bookListId: ${bookListId}"
                        th:value="${bookListId.id}" th:text="${bookListId.name}">
                </option>
            </select>
            <label for="num4">WhenOrdered</label>
            <input id="num4" type="number" th:field="*{whenOrdered}" min="0" required>
            <label for="num8">Reader</label>
            <select id="num8" th:field="*{reader}" onclick="checkedInput()">
                <option th:each="readerListId: ${readerListId}"
                        th:value="${readerListId.id}" th:text="${readerListId.person.name}">
                </option>
            </select>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/bookOrder/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>