<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PublishingHouse List</title>

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/animation.css}" rel="stylesheet">
  <link href="../css/animation.css" rel="stylesheet">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div id="blockMessage">
  Successfully copied
</div>

<!-- -->

<div class="contentMain">
  <div class="container">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr class="title">
          <th>Name</th>
          <th>Author</th>
          <th>Number pages</th>
          <th>Options</th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0" onmouseleave="checkLeave()">
        <tbody>

        <tr th:each="publishingHouse: ${publishingHouseList}" onmouseenter='checkHover(obj)' onclick='checkClick(obj, this)'>
          <td th:text="${publishingHouse.name}"></td>
          <td th:text="${publishingHouse.dateOfCooperation}"></td>
          <td th:text="${publishingHouse.address}"></td>
          <td class="options">
            <a  th:href="@{/ui/publishingHouse/delete/{id}(id=${publishingHouse.id})}">
              <button class="first">Delete</button>
            </a>
            <a th:href="@{/ui/publishingHouse/showUpdateForm/{id}(id=${publishingHouse.id})}">
              <button class="last">Edit</button>
            </a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="controlElementFake"></div>


<div class="controlElement">

  <!-- FakeData -->

  <table>
    <tr>
      <td>Id</td>
      <td id = "infoId" onclick="copyID()"></td>
    </tr>
    <tr>
      <td>Create At</td>
      <td id = "infoCreateAt"></td>
    </tr>
    <tr>
      <td>Update At&emsp;</td>
      <td id="infoUpdateAt"></td>
    </tr>
  </table>
</div>

  <br>

  <div style="text-align: center">
    <a th:href = "@{/ui/publishingHouse/showNewForm}" class="containerButton">Add</a>
  </div>
</div>
</body>
  <script src="../../../../../../../../Desktop/Архив/js/main.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/FakeData.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/TableJQuery.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/animated.js"></script>
  <script src="../../../../../../../../Desktop/Архив/js/modalWindow.js"></script>
</html>