<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update PublishingHouse</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE PUBLISHINGHOUSE</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/publishingHouse/update}" th:object="${publishingHouse}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">Name</label>
            <input id="num1" th:field="*{name}"  required>
            <label for="num2">DateOfCooperation</label>
            <input id="num2" type="number" th:field="*{dateOfCooperation}" min="0" required>
            <label for="num3">Address</label>
            <input id="num3" th:field="*{address}" min="0" required>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/publishingHouse/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>