<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add EducationalInstitution</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD EDUCATIONALINSTITUTION</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px; margin-right: 700px;">
    <form action="#" th:action="@{/ui/educationalInstitution/add}" th:object="${educationalInstitution}"
          method="POST">
        <label for="num1">Сhair</label>
        <input id="num1" th:field="*{chair}"  required>
        <label for="num2">Аaculty</label>
        <input id="num2" type="number" th:field="*{faculty}" min="0" required>
        <label for="num3">Сourse</label>
        <input id="num3" th:field="*{course}" min="0" required>
        <label for="num4">Пroup</label>
        <input id="num4" th:field="*{group}" required>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/educationalInstitution/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>