<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update EducationalInstitution</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE EDUCATIONALINSTITUTION</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/educationalInstitution/update}" th:object="${educationalInstitution}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">Сhair</label>
            <input id="num1" th:field="*{chair}"  required>
            <label for="num2">Аaculty</label>
            <input id="num2" type="number" th:field="*{faculty}" min="0" required>
            <label for="num3">Сourse</label>
            <input id="num3" th:field="*{course}" min="0" required>
            <label for="num4">Пroup</label>
            <input id="num4" th:field="*{group}" required>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/educationalInstitution/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>