<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update TakenBook</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE TAKENBOOK</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/takenBook/update}" th:object="${takenBook}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">Book</label>
            <select id="num1" th:field="*{book}" onclick="checkedInput()">
                <option th:each="bookListId: ${bookListId}"
                        th:value="${bookListId.id}" th:text="${bookListId.name}">
                </option>
            </select>
            <label for="num2">WhenTaken</label>
            <input id="num2" th:field="*{whenTaken}" min="0" required>
            <label for="num3">UntilWhenTaken</label>
            <input id="num3" th:field="*{untilWhenTaken}" min="0" required>
            <label for="num4">Fine</label>
            <select id="num4" th:field="*{fine}" onclick="checkedInput()">
                <option th:each="fineListId: ${fineListId}"
                        th:value="${fineListId.id}" th:text="${fineListId.price}">
                </option>
            </select>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/takenBook/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>