<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Catalog</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD CATALOG</h1>
</div>
<div class="updateForm">
    <form action="#" th:action="@{/ui/catalog/add}" th:object="${catalog}"
          method="POST">
        <table>
            <tr>
                <td><label for="num2">CardIndexList</label></td>
                <td>
                    <select id="num2" th:field="*{cardIndexList}" onclick="checkedInput()">
                        <option th:each="cardIndexListId: ${cardIndexListId}"
                                th:value="${cardIndexListId.id}" th:text="${cardIndexListId.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num4">Number</label></td>
                <td><input id="num4" type="number" th:field="*{number}" min="0" required></td>
            </tr>
        </table>

        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/catalog/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>