<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Fine</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE FINE</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/fine/update}" th:object="${fine}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">ReasonForTheFine</label>
            <input id="num1" th:field="*{reasonForTheFine}"  required>
            <label for="num2">Price</label>
            <input id="num2" type="number" th:field="*{price}" min="0" required>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/fine/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>