<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Fine</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>Update FINE</h1>
</div>
<div class="updateForm">
    <form action="#" th:action="@{/ui/fine/update}" th:object="${fine}"
          method="POST">
        <table>
            <tr>
                <td><label for="num0">Id</label></td>
                <td><input id="num0" th:field="*{id}" readonly required></td>
            </tr>
            <tr>
                <td><label for="num1">ReasonForTheFine</label></td>
                <td><input id="num1" th:field="*{reasonForTheFine}"  required></td>
            </tr>
            <tr>
                <td><label for="num2">Price</label></td>
                <td><input id="num2" type="number" th:field="*{price}" min="0" required></td>
            </tr>
        </table>

        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/fine/get/all}">
    <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>