@keyframes colorId {
    10%{
        color: #3b62a8;
    }
    60%{
        color:white;
    }
    100%{
        color:black;
    }
}

@keyframes showMessage {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes hideMessage {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}