<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Reader</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD Reader</h1>
</div>
<div class="updateForm">
    <form action="#" th:action="@{/ui/reader/add}" th:object="${reader}"
          method="POST">
        <table>
            <tr>
                <td><label for="num1">Person</label></td>
                <td>
                    <select id="num1" th:field="*{person}">
                        <option th:each="personListId: ${personListId}"
                                th:value="${personListId.id}" th:text="${personListId.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num2">BecameReader</label></td>
                <td><input id="num2" th:field="*{becameReader}"></td>
            </tr>
            <tr>
                <td><label for="num3">TakenBookList</label></td>
                <td>
                    <select multiple id="num3" th:field="*{takenBookList}" onclick="checkedInput()">
                        <option th:each="takenBookListId: ${takenBookListId}"
                                th:value="${takenBookListId.id}" th:text="${takenBookListId.book.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num4">ReadingRoom</label></td>
                <td>
                    <select id="num4" th:field="*{readingRoom}" onclick="checkedInput()">
                        <option th:each="readingRoomListId: ${readingRoomListId}"
                                th:value="${readingRoomListId.id}" th:text="${readingRoomListId.number}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/reader/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>