<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD PERSON</h1>
</div>
<div class="updateForm">
    <form action="#" th:action="@{/ui/person/add}" th:object="${person}"
          method="POST">
        <table>
            <tr>
                <td><label for="num1">Name</label></td>
                <td><input id="num1" th:field="*{name}"  required></td>
            </tr>
            <tr>
                <td><label for="num2">Surname</label></td>
                <td><input id="num2" th:field="*{surname}" min="0" required></td>
            </tr>
            <tr>
                <td><label for="num3">Year</label></td>
                <td><input id="num3" th:field="*{year}" min="0" required></td>
            </tr>
            <tr>
                <td><label for="num4">Gender</label></td>
                <td>
                    <select id="num4" th:field="*{gender}">
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                        <option value="Else">Else</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="num5">EducationalInstitution</label></td>
                <td>
                    <select id="num5" th:field="*{educationalInstitution}" onclick="checkedInput()">
                        <option th:each="educationalInstitutionListId: ${educationalInstitutionListId}"
                                th:value="${educationalInstitutionListId.id}" th:text="${educationalInstitutionListId.chair}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/person/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>