<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD PERSON</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px; margin-right: 700px;">
    <form action="#" th:action="@{/ui/person/add}" th:object="${person}"
          method="POST">
        <label for="num1">Name</label>
        <input id="num1" th:field="*{name}"  required>
        <label for="num2">Surname</label>
        <input id="num2" type="number" th:field="*{surname}" min="0" required>
        <label for="num3">Age</label>
        <input id="num3" th:field="*{age}" min="0" required>
        <label for="num4">Gender</label>
        <input id="num4" th:field="*{gender}" required>
        <label for="num5">EducationalInstitution</label>
        <select id="num5" th:field="*{educationalInstitution}" onclick="checkedInput()">
            <option th:each="educationalInstitutionListId: ${educationalInstitutionListId}"
                    th:value="${educationalInstitutionListId.id}" th:text="${educationalInstitutionListId.chair}">
            </option>
        </select>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/person/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>