<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE PERSON</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 80px; margin-right: 700px;">
        <form id="dataMain" action="#" th:action="@{/ui/person/update}" th:object="${person}"
              method="POST">
            <label for="num0">Id</label>
            <input id="num0" type="number" readonly th:field="*{id}"/>
            <label for="num1">Name</label>
            <input id="num1" th:field="*{name}"  required>
            <label for="num2">Surname</label>
            <input id="num2" type="number" th:field="*{surname}" min="0" required>
            <label for="num3">Age</label>
            <input id="num3" th:field="*{age}" min="0" required>
            <label for="num4">Gender</label>
            <input id="num4" th:field="*{gender}" required>
            <label for="num5">EducationalInstitution</label>
            <select id="num5" th:field="*{educationalInstitution}" onclick="checkedInput()">
                <option th:each="educationalInstitutionListId: ${educationalInstitutionListId}"
                        th:value="${educationalInstitutionListId.id}" th:text="${educationalInstitutionListId.chair}">
                </option>
            </select>
            <button form="dataMain" type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>

    <a th:href="@{/ui/person/get/all}" style = "margin-right: 1050px;">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>