<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CardIndex</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD CARDINDEX</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px; margin-right: 700px;">
    <form action="#" th:action="@{/ui/cardIndex/add}" th:object="${cardIndex}"
          method="POST">
        <label for="num1">Name</label>
        <input id="num1" th:field="*{name}"  required>
        <label for="num4">Genre</label>
        <input id="num4" type="number" th:field="*{genre}" min="0" required>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>

<a th:href="@{/ui/cardIndex/get/all}">
   <div align="left" style="padding: 0 0 0 80px"><button class="backBtn" style="padding: 0;">Back</button></div>
</a>
</body>
</html>